html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
}

body:before {
	content: '';
	display: block;
	background-attachment: scroll;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.25%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(to top, rgba(67,66,89,0.271), rgba(67,66,89,0.271)), url('../images/bg.jpg');
	background-size: 512px, auto, cover;
	background-position: center, 0% 0%, center;
	background-repeat: repeat, repeat, repeat;
	background-color: #FFFFFF;
}

body:after {
	background-color: #2E2E36;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--viewport-height: 100vh;
}

html {
	font-size: 18pt;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

spoiler-text {
	-webkit-text-stroke: 0;
	background-color: rgba(32,32,32,0.75);
	text-shadow: none;
	text-stroke: 0;
	color: transparent;
	cursor: pointer;
	transition: color 0.1s ease-in-out;
}

spoiler-text.active {
	color: #FFFFFF;
	cursor: text;
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 1s ease 0s,transform 1s ease 0s;
}

#main > .inner {
	--padding-horizontal: 3rem;
	--padding-vertical: 4rem;
	--spacing: 0.75rem;
	--width: 36rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > header {
	margin-bottom: var(--spacing);
}

#main > .inner > footer {
	margin-top: var(--spacing);
}

#main > .inner > * > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

#main > .inner > * > :first-child {
	margin-top: 0 !important;
}

#main > .inner > * > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > * > .full {
	margin-left: calc(-3rem);
	max-width: calc(100% + 6rem + 0.4725px);
	width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > * > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > .active > .full:first-child {
	margin-top: -4rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .active {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .active > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: -4rem !important;
}

body.is-loading #main {
	opacity: 0;
	transform: translateY(1.6875rem);
}

#main > .inner > header, #main > .inner > footer {
	transition: opacity 0.1875s ease-in-out 0.28125s,visibility 0.1875s linear 0.28125s;
}

#main > .inner > header.hidden, #main > .inner > footer.hidden {
	opacity: 0;
	transition: opacity 0.1875s ease-in-out,visibility 0.1875s;
	visibility: hidden;
}

#main > .inner > section {
	transition: opacity 0.375s ease-in-out 0.1875s,transform 0.375s ease-in-out 0.1875s,min-height 0.1875s ease-in-out,max-height 0.1875s ease-in-out;
}

#main > .inner > section.inactive {
	opacity: 0;
	transition: opacity 0.1875s ease-in-out,transform 0.1875s ease-in-out;
	transform: scale(0.94375);
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	transition: none !important;
}

@keyframes loading-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.deferred:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	animation: loading-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
}

.deferred.loading:before {
	opacity: 0.35;
	z-index: 0;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#image01:not(:first-child) {
	margin-top: 1.5rem !important;
}

#image01:not(:last-child) {
	margin-bottom: 1.5rem !important;
}

#image01 .frame {
	width: 7rem;
	transition: none;
}

#image01 .frame img {
	transition: none;
}

#image04:not(:first-child) {
	margin-top: 2.25rem !important;
}

#image04:not(:last-child) {
	margin-bottom: 2.25rem !important;
}

#image04 .frame {
	width: 100vw;
	transition: none;
}

#image04 .frame img {
	transition: none;
}

#image09:not(:first-child) {
	margin-top: 2.25rem !important;
}

#image09:not(:last-child) {
	margin-bottom: 2.25rem !important;
}

#image09 .frame {
	width: 100vw;
	transition: none;
}

#image09 .frame img {
	transition: none;
}

h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {
	-webkit-text-fill-color: currentcolor;
}

#text03 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3.75em;
	line-height: 0.875;
	font-weight: 600;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

#text03 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text07 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	line-height: 1;
	font-weight: 600;
}

#text07 a {
	text-decoration: underline;
}

#text07 a:hover {
	text-decoration: none;
}

#text07 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text09 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#text09 a {
	text-decoration: underline;
}

#text09 a:hover {
	text-decoration: none;
}

#text09 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text04 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 300;
}

#text04 a {
	text-decoration: underline;
}

#text04 a:hover {
	text-decoration: none;
}

#text04 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text17 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	line-height: 1;
	font-weight: 600;
}

#text17 a {
	text-decoration: underline;
}

#text17 a:hover {
	text-decoration: none;
}

#text17 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text18 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#text18 a {
	text-decoration: underline;
}

#text18 a:hover {
	text-decoration: none;
}

#text18 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

.buttons {
	cursor: default;
	display: flex;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

#buttons04 {
	justify-content: center;
	gap: 0.75rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons04:not(:first-child) {
	margin-top: 1.875rem !important;
}

#buttons04:not(:last-child) {
	margin-bottom: 1.875rem !important;
}

#buttons04 li a {
	display: inline-block;
	width: auto;
	height: 2rem;
	line-height: calc(2rem - 2px);
	padding: 0 1rem;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.175rem;
	padding-left: calc(0.175rem + 1rem);
	font-size: 0.625em;
	font-weight: 300;
	border-radius: 0.375rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons04 .button {
	color: #FFFFFF;
	border: solid 1px #FFFFFF;
}

#buttons04 .button:hover {
	border-color: #96D3FF !important;
	color: #96D3FF !important;
}

#buttons03 {
	justify-content: center;
	gap: 1.25rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons03:not(:first-child) {
	margin-top: 1.625rem !important;
}

#buttons03:not(:last-child) {
	margin-bottom: 1.625rem !important;
}

#buttons03 li a {
	display: inline-flex;
	width: 7.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 0.5rem;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.175rem;
	padding-left: calc(0.175rem + 0.5rem);
	font-size: 0.75em;
	font-weight: 300;
	border-radius: 0.375rem;
	flex-direction: row-reverse;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons03 li a svg {
	display: block;
	fill: #FFFFFF;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	min-width: 18px;
	width: 1.25em;
	margin-left: 0.5em;
	margin-right: calc(-0.125em + 0.175rem);
	transition: fill 0.25s ease;
}

#buttons03 li a .label {
	direction: var(--site-language-direction);
	overflow: hidden;
}

#buttons03 .button {
	color: #FFFFFF;
	border: solid 1px #FFFFFF;
}

#buttons03 .button:hover {
	border-color: #96D3FF !important;
	color: #96D3FF !important;
}

#buttons03 .button:hover svg {
	fill: #96D3FF !important;
}

#buttons06 {
	gap: 1.25rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons06:not(:first-child) {
	margin-top: 1.625rem !important;
}

#buttons06:not(:last-child) {
	margin-bottom: 1.625rem !important;
}

#buttons06 li a {
	display: inline-block;
	width: 7.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 0.5rem;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.175rem;
	padding-left: calc(0.175rem + 0.5rem);
	font-size: 0.75em;
	font-weight: 300;
	border-radius: 0.375rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons06 .button {
	background-color: #A70000;
	color: #FFFFFF;
}

#buttons06 .button:hover {
	background-color: #FF0000 !important;
}

#buttons11 {
	justify-content: center;
	gap: 0.75rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons11:not(:first-child) {
	margin-top: 1.875rem !important;
}

#buttons11:not(:last-child) {
	margin-bottom: 1.875rem !important;
}

#buttons11 li a {
	display: inline-block;
	width: auto;
	height: 2rem;
	line-height: calc(2rem - 2px);
	padding: 0 1rem;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.175rem;
	padding-left: calc(0.175rem + 1rem);
	font-size: 0.625em;
	font-weight: 300;
	border-radius: 0.375rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons11 .button {
	color: #FFFFFF;
	border: solid 1px #FFFFFF;
}

#buttons11 .button:hover {
	border-color: #96D3FF !important;
	color: #96D3FF !important;
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}

#main .container.full:first-child > .wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main .container.full:first-child > .wrapper > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
}

#container01:not(:first-child) {
	margin-top: 1.5rem !important;
}

#container01:not(:last-child) {
	margin-bottom: 1.5rem !important;
}

#container01 > .wrapper {
	display: inline-block;
	width: 36rem;
	background-color: transparent;
}

#container01 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 1rem;
	--padding-vertical: 1rem;
	--spacing: 1rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#container01.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container01.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

#container01.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

#container01.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

#container01.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container01.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container01.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

#container01.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container01.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container01.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div:first-child, #container01.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > div:last-child, #container01.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

#container01.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

#container04 {
	--alignment: left;
	--flex-alignment: flex-start;
	--indent-left: 1;
	--indent-right: 0;
}

#container04:not(:first-child) {
	margin-top: 1.25rem !important;
}

#container04:not(:last-child) {
	margin-bottom: 1.25rem !important;
}

#container04 > .wrapper {
	display: inline-block;
	width: 32rem;
	background-color: rgba(40,39,48,0.922);
	box-shadow: 0rem 0.75rem 2.625rem 0rem rgba(40,39,48,0.522);
	border-radius: 0.375rem;
}

#container04 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 2.5rem;
	--padding-vertical: 2.75rem;
	--spacing: 1.5rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#container04.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container04.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

#container04.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container04.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

#container04.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

#container04.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container04.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container04.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container04.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

#container04.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container04.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container04.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container04.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

#container04.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container04.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container04.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container04.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container04.columns > .wrapper > .inner > div:first-child, #container04.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

#container04.columns > .wrapper > .inner > div:last-child, #container04.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

#container04.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

#container04.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

#container04.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

#container04.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

#container04.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

#container09 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
}

#container09:not(:first-child) {
	margin-top: 1.25rem !important;
}

#container09:not(:last-child) {
	margin-bottom: 1.25rem !important;
}

#container09 > .wrapper {
	display: inline-block;
	width: 32rem;
	background-color: rgba(40,39,48,0.922);
	box-shadow: 0rem 0.75rem 2.625rem 0rem rgba(40,39,48,0.522);
	border-radius: 0.375rem;
}

#container09 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 2.75rem;
	--padding-vertical: 3rem;
	--spacing: 1.25rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#container09.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container09.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

#container09.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container09.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

#container09.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

#container09.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container09.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container09.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container09.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

#container09.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container09.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container09.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container09.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

#container09.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container09.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container09.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container09.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container09.columns > .wrapper > .inner > div:first-child, #container09.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

#container09.columns > .wrapper > .inner > div:last-child, #container09.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

#container09.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

#container09.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

#container09.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

#container09.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

#container09.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

.list {
	display: block;
}

.list ul, .list ol {
	display: inline-block;
	max-width: 100%;
	text-align: var(--site-language-alignment);
	vertical-align: middle;
}

.list ul li, .list ol li {
	direction: var(--site-language-direction);
	display: flex;
	position: relative;
}

.list ul li:before, .list ol li:before {
	background-repeat: no-repeat;
	content: '';
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	font-variant: normal !important;
	letter-spacing: 0 !important;
	order: 1;
	position: relative;
}

.list ul li:after, .list ol li:after {
	content: '';
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	order: 2;
	pointer-events: none;
}

.list ul li p, .list ol li p {
	flex-grow: 1;
	flex-shrink: 1;
	order: 3;
}

.list ul li:first-child, .list ol li:first-child {
	margin-top: 0 !important;
}

#list01 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#list01 a {
	text-decoration: underline;
}

#list01 a:hover {
	text-decoration: none;
}

#list01 ul {
	width: 100%;
}

#list01 ul li {
	margin-top: 0.5rem;
}

#list01 ul li:after {
	width: 0.625rem;
}

#list01 ul li:before {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2210%22%20fill%3D%22rgba(255,255,255,0.231)%22%20%2F%3E%3C%2Fsvg%3E');
	border-radius: 0.375rem;
	background-position: left 60%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 1.625rem;
	line-height: 1.625rem;
	min-width: 0.76171875rem;
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	
	
	#main > .inner {
		--padding-horizontal: 1rem;
		--padding-vertical: 1.5rem;
		--spacing: 0.75rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-1rem);
		max-width: calc(100% + 2rem + 0.4725px);
		width: calc(100% + 2rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > .active > .full:first-child {
		margin-top: -1.5rem !important;
	}
	
	#main > .inner > .active > .full:last-child {
		margin-bottom: -1.5rem !important;
	}
	
	#image01:not(:first-child) {
		margin-top: 1.125rem !important;
	}
	
	#image01:not(:last-child) {
		margin-bottom: 1.125rem !important;
	}
	
	#image01 .frame {
		width: 7rem;
	}
	
	#image04:not(:first-child) {
		margin-top: 1.6875rem !important;
	}
	
	#image04:not(:last-child) {
		margin-bottom: 1.6875rem !important;
	}
	
	#image09:not(:first-child) {
		margin-top: 1.6875rem !important;
	}
	
	#image09:not(:last-child) {
		margin-bottom: 1.6875rem !important;
	}
	
	#text03 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 3.5em;
		line-height: 0.875;
	}
	
	#text07 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1;
	}
	
	#text09 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text04 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.5;
	}
	
	#text17 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2em;
		line-height: 1;
	}
	
	#text18 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1em;
		line-height: 1.625;
	}
	
	#buttons04 {
		gap: 0.75rem;
	}
	
	#buttons04:not(:first-child) {
		margin-top: 1.40625rem !important;
	}
	
	#buttons04:not(:last-child) {
		margin-bottom: 1.40625rem !important;
	}
	
	#buttons04 li a {
		letter-spacing: 0.175rem;
		padding-left: calc(0.175rem + 1rem);
		font-size: 0.625em;
	}
	
	#buttons03 {
		gap: 1.25rem;
	}
	
	#buttons03:not(:first-child) {
		margin-top: 1.21875rem !important;
	}
	
	#buttons03:not(:last-child) {
		margin-bottom: 1.21875rem !important;
	}
	
	#buttons03 li a {
		letter-spacing: 0.175rem;
		padding-left: calc(0.175rem + 0.5rem);
		font-size: 0.75em;
	}
	
	#buttons03 li a svg {
		width: 1.25em;
	}
	
	#buttons06 {
		gap: 1.25rem;
	}
	
	#buttons06:not(:first-child) {
		margin-top: 1.21875rem !important;
	}
	
	#buttons06:not(:last-child) {
		margin-bottom: 1.21875rem !important;
	}
	
	#buttons06 li a {
		letter-spacing: 0.175rem;
		padding-left: calc(0.175rem + 0.5rem);
		font-size: 0.75em;
	}
	
	#buttons11 {
		gap: 0.75rem;
	}
	
	#buttons11:not(:first-child) {
		margin-top: 1.40625rem !important;
	}
	
	#buttons11:not(:last-child) {
		margin-bottom: 1.40625rem !important;
	}
	
	#buttons11 li a {
		letter-spacing: 0.175rem;
		padding-left: calc(0.175rem + 1rem);
		font-size: 0.625em;
	}
	
	
	
	#container01:not(:first-child) {
		margin-top: 1.125rem !important;
	}
	
	#container01:not(:last-child) {
		margin-bottom: 1.125rem !important;
	}
	
	#container01 > .wrapper > .inner {
		--gutters: 2rem;
		--padding-horizontal: 2.5rem;
		--padding-vertical: 1rem;
		--spacing: 1rem;
	}
	
	#container01.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	#container01.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	#container01.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	#container01.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	
	
	#container04:not(:first-child) {
		margin-top: 0.9375rem !important;
	}
	
	#container04:not(:last-child) {
		margin-bottom: 0.9375rem !important;
	}
	
	#container04 > .wrapper > .inner {
		--gutters: 2rem;
		--padding-horizontal: 1.625rem;
		--padding-vertical: 2rem;
		--spacing: 1.5rem;
	}
	
	#container04.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	#container04.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	#container04.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	#container04.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	#container04.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	#container04.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container04.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container04.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container04.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	#container04.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	#container04.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container04.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container04.columns > .wrapper > .inner > div:first-of-type, #container04.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	#container04.columns > .wrapper > .inner > div:last-of-type, #container04.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	#container04.columns > .wrapper > .inner > div:first-of-type, #container04.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	#container04.columns > .wrapper > .inner > div:last-of-type, #container04.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	#container04.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	#container04.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	
	
	#container09:not(:first-child) {
		margin-top: 0.9375rem !important;
	}
	
	#container09:not(:last-child) {
		margin-bottom: 0.9375rem !important;
	}
	
	#container09 > .wrapper > .inner {
		--gutters: 2rem;
		--padding-horizontal: 2rem;
		--padding-vertical: 2.75rem;
		--spacing: 1.25rem;
	}
	
	#container09.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	#container09.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	#container09.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	#container09.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	#container09.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	#container09.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container09.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container09.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container09.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	#container09.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	#container09.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container09.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container09.columns > .wrapper > .inner > div:first-of-type, #container09.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	#container09.columns > .wrapper > .inner > div:last-of-type, #container09.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	#container09.columns > .wrapper > .inner > div:first-of-type, #container09.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	#container09.columns > .wrapper > .inner > div:last-of-type, #container09.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	#container09.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	#container09.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	#list01 {
		letter-spacing: 0rem;
		font-size: 1em;
		line-height: 1.625;
	}
	
	#list01 ul li:after {
		width: 0.625rem;
	}
	
	#list01 ul li:before {
		height: 1.625rem;
		line-height: 1.625rem;
		min-width: 0.76171875rem;
	}
}

@media (max-width: 480px) {
	#main > .inner {
		--spacing: 0.65625rem;
	}
	
	#buttons03 li a {
		width: 12.5rem;
	}
	
	#buttons06 li a {
		width: 12.5rem;
	}
	
	#container01 > .wrapper > .inner {
		--spacing: 0.875rem;
	}
	
	#container04 > .wrapper > .inner {
		--spacing: 1.3125rem;
	}
	
	#container09 > .wrapper > .inner {
		--spacing: 1.09375rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		--padding-horizontal: 0.75rem;
		--padding-vertical: 1.125rem;
		--spacing: 0.5625rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-0.75rem);
		max-width: calc(100% + 1.5rem + 0.4725px);
		width: calc(100% + 1.5rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > .active > .full:first-child {
		margin-top: -1.125rem !important;
	}
	
	#main > .inner > .active > .full:last-child {
		margin-bottom: -1.125rem !important;
	}
	
	#text03 {
		font-size: 3.5em;
	}
	
	#text07 {
		font-size: 1.5em;
	}
	
	#text09 {
		font-size: 1em;
	}
	
	#text04 {
		font-size: 1em;
	}
	
	#text17 {
		font-size: 1.5em;
	}
	
	#text18 {
		font-size: 1em;
	}
	
	#buttons04 {
		gap: 0.5625rem;
	}
	
	#buttons03 {
		gap: 0.9375rem;
	}
	
	#buttons06 {
		gap: 0.9375rem;
	}
	
	#buttons11 {
		gap: 0.5625rem;
	}
	
	#container01 > .wrapper > .inner {
		--gutters: 1.5rem;
		--padding-horizontal: 1.875rem;
		--padding-vertical: 0.75rem;
		--spacing: 0.75rem;
	}
	
	#container04 > .wrapper > .inner {
		--gutters: 1.5rem;
		--padding-horizontal: 1.21875rem;
		--padding-vertical: 1.5rem;
		--spacing: 1.125rem;
	}
	
	#container09 > .wrapper > .inner {
		--gutters: 1.5rem;
		--padding-horizontal: 1.5rem;
		--padding-vertical: 2.0625rem;
		--spacing: 0.9375rem;
	}
	
	#list01 {
		font-size: 1em;
	}
	
	#list01 ul li:after {
		width: 0.625rem;
	}
	
	#list01 ul li:before {
		height: 1.625rem;
		line-height: 1.625rem;
		min-width: 0.76171875rem;
	}
}